{% extends "base.html" %}
{% block content %}
  <h1>Survey</h1>

  {% if metrics %}
    <ul style="list-style: none;">
      <form action="{{url_for('survey.survey_route')}}" method="POST">
        {% for metric in metrics %}
          <li>{{ metric.metric_name }}
            {% for n in range(0,5) %}
              <input type="radio" name="{{ metric.metric_id }}" value="{{ n }}"
              
              {% if n == 0 %}
                checked
              {% endif %}
              
              >{{ n }}
            {% endfor %}
          </li>
        {% endfor %}
          <textarea cols="50" rows ="10" name="comments"></textarea>
        <input type="submit" value="Submit">
      </form>
    </ul>
  {% endif %}



{% endblock %}
